<html>      
    <div class="container-fluid">
        <div class="row">
            <!-- sidebar -->
            <nav id="sidebar" class="sidebar">
                <div class="sidebar-header">
                    <h3>Bootstrap Sidebar</h3>
                </div>
        
                <ul class="list-unstyled components">
                    <p>Dummy Heading</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>

            <!-- content -->
            <div class="col-xs-12 upper-body">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="navbar-btn" (click)="toggleSidebar()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>         
            <div class="col-xs-12 lower-body">
                <div id="photo-container" class="photo-container">
                    <img src="assets/images/portrait.png" id="image" class="rounded-circle" height="40%" width="40%">
                </div>
            </div>
        </div>
    </div>
</html>